<router-outlet></router-outlet>

<h2 style="color :black" id="brown-text" class= "brown-text"  ><input type ="text" value = "{{' Welcome ' + studentName}}" /><br /> </h2>
{{isDevEnvironment}}

<div *ngIf = "isDevEnvironment; else production" >
    <h1>You are in dev environement</h1>
</div>
<ng-template #production>
    <h1>Production environment</h1>
</ng-template>


<!-- {{applicationName}} 
<br />
{{studentName|uppercase}} 
<br />
{{50 | currency : 'CNY'}}<br />
{{"Welcome to Angular"}}<br />

{{6+4}}
<input type ="text" value = "{{studentName+' Welcome'}}" /><br />




<br />
<input type = "button" value = "toggle div" (click) = "togglediv()" />

<div *ngIf = showDiv>
    <h1>this div will be toggle</h1>
</div>

<ul><li *ngFor = "let c of countries">{{c}}</li></ul>

<br />

<select><option *ngFor="let c of countries">{{c}}</option></select>

<br />

<table border = "1">
    <tr *ngFor = "let c of countries; index as i; even as e; odd as o; first as f; last as l">
        <td>{{c}}</td> 
        <td> {{i+1}}</td> 
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
    </tr>
</table>

<br />
 -->



   
<form ngNoForm [action]="url" method="GET">
    <fieldset>
        <legend>
            Login
        </legend>
        
        <label for="email"> Email:</label><br />
        <input type ="email" name ="email" size="30" maxlength="30" placeholder="you@example.com" id="email" required>
        <br />
        <label for="password"> Password:</label><br />
        <input type ="password" name ="password" size="30" maxlength="30" placeholder="Please enter your password " id="password" required>
        <br /> <br />
        <input type = "submit" value = "Login" />

    </fieldset>
</form>


<br />
<br />
<br />

<fieldset>
    <legend>
        <h1 style="color:brown" class ="gold-text">Register</h1> <br />
        <p>UserRegisterRequestModel</p>
    </legend>
    <form ngNoForm [action]="url" method = "POST">
    
    <div class ="email">
    <label for="email" class ="required"> Email:</label><br />
    <input type ="email" name ="email" size="30" maxlength="30" placeholder="you@example.com" id="email" required>
    <br />
    </div>

    <div class="password">
    <label for="password" class ="required"> Password:</label><br />
    <input type ="password" name ="password" size="30" maxlength="30" id="password" required placeholder="Enter Password">
    <br />
    </div>

    
    <div class="password">
        <label for="conf-password" class ="required">Confirm Password:</label><br />
        <input type ="password" name ="conf-password" size="30" maxlength="30" id="conf-password" required placeholder="Retype password">
        <br />
    </div>

    <div class="name">    
    <label for="firstName" class ="required"> First Name:</label><br />
    <input type ="name" name ="firstName" size="30" maxlength="30" id="firstName" required placeholder="Please enter your first name!">
    <br />
    </div>

    <div class="name">    
        <label for="lastName" class ="required"> Last Name:</label><br />
        <input type ="name" name ="lastName" size="30" maxlength="30" id="lastName" required placeholder="Please enter your last name!">
        <br />
    </div>

    <div class = "birthday">
    <label for="birthday" class="required" > Date Of Birth: </label><br />
    <input type ="date" name="birthday" id="birthday" required /><br /> <br />
    </div>
    <input type = "submit" value = "Create" />
</form>
</fieldset>


<br />




<h1 class="text-primary text-left">Cat Photo App</h1>
  

<div class = "row">
        <a href="#"><img class="img-responsive" src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&w=355&h=355&dpr=1" alt="Soft Kitty"></a>
   
        <h2> Price : {{20092.80 | currency : ' CNY'}}</h2><br />
        <div class=" col-xs-1">
        <!-- adding thumbs up -->
        <button class ="btn btn-block btn-primary" >Like <i class ="fa fa-thumbs-up"></i></button>
    </div>
    <div class ="col-xs-1">
        <button class ="btn btn-block btn-info">Info <i class ="fa fa-info-circle"></i></button>
    </div>
    <div class ="col-xs-1">
        <button class ="btn btn-block btn-danger">Delete  <i class ="fa fa-trash"></i></button>
    </div>
</div><br />

<div class = "row">
<div class ="col-xs-6">

<h2>Select Cats</h2>
<select><option *ngFor="let cat of cats">{{cat}}</option></select><br />
<input type = "button" value = "Details (toggle)" (click) = "togglediv()" /><br />
<div *ngIf = showDiv>
           
<p>Things cat <span class = "text-primary">love</span>:</p>
    <ul *ngFor = "let love of catlove; index as i" >
    <li>{{love}}</li>
    </ul>
<p>Things cat <span class = "text-danger">hate</span></p>
    <ul *ngFor = "let hate of cathate; index as i">
    <li>{{i+1}} : {{hate}}</li>
    </ul>
</div>
</div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label><input type ="radio" name = "indoor-outdoor" checked >indoor</label>
    </div>
    <div class="col-xs-2">
        <label><input type ="radio" name = "outdoor-outdoor">outdoor</label>
    </div>
</div>

<div class="row">
    <div class="col-xs-1">
        <label><input type ="checkbox" name = "personality"></label>
    </div>
    <div class="col-xs-1">
        <label><input type ="checkbox" name = "personality" >soft</label>
    </div>
    <div class="col-xs-1">
        <label><input type ="checkbox" name = "personality">warm</label>
    </div>
</div>


<div class="row">
    <form ngNoForm [action]="url" method="POST" id="cat-photo-form" >
    <div class ="col-xs-4">
        <input class="form-control" type ="text" placeholder = "cat photo url" required>
    </div>
    <div class ="col-xs-2">
        <button class="btn btn-primary" type ="submit"> Submit  <i class ="fa fa-paper-plane"></i></button>
    </div>
</form>
</div>





<!-- <div class ="mb-3">
    <label>Enter a number</label>
    <input [(ngModel)] = "" class = "form-control" />
</div> -->